* {
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
  font-family: sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: #67d493;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disppear {
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .home a {
  float: left;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.landing {
  height: auto;
}

.container {
  margin-bottom: 5%;
}

.cart-btn {
  display: flex;
  justify-content: right;
  padding: 1%;
  width: 10%;
}

.cart {
  padding: 5% 10%;
  background-color: #333;
  color: #04aa6d;
  font-size: 25px;
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
  width: 50%;
  text-align: center;
  color: #04aa6d;
  padding: 5% 10%;
}

.info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin: 5%;
}

.img {
  max-width: 100%;
  max-height: 100%;
  margin: 5%;
}

.img-box {
  width: 80%;
}

.btn {
  color: #333;
  padding: 5% 10%;
}

@media (max-width: 800px) {
  .name {
    font-weight: bold;
  }

  .info {
    flex-direction: column;
    justify-content: space-around;
    margin: 10%;
    height: 60vh;
    width: 100%;
  }
  .cart {
    width: 70px;
  }
}

@media (max-width: 500px) {
  .name {
    font-weight: bold;
    font-size: 10px;
  }
}
